<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbw.dao.CommentsDao">

    <select id="getByGoodsid" resultType="com.hbw.entity.Comments">
        select *
        from comments
        where goodsid = #{goodsid}
    </select>

</mapper>

