<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbw.dao.OrderdetailDao">

    <select id="getByOrderId" resultType="com.hbw.entity.Orderdetail">
        select id,
               goodsid,
               goodsname,
               goodsprice,
               number,
               total,
               custid,
               storeid,
               orderid,
               state,
               storeaddress,
               storespecificaddress,
               distribution,
               appointment
        from orderdetail
        where orderid = #{orderid}
    </select>

    <select id="getByOrderDetailId" resultType="com.hbw.entity.ProductAndStore">
        select orderdetail.id,
               orderdetail.goodsid,
               orderdetail.goodsname  as name,
               orderdetail.goodsprice as price,
               orderdetail.number,
               orderdetail.total,
               orderdetail.storeid,
               orderdetail.state,
               orderdetail.storeaddress,
               orderdetail.storespecificaddress,
               orderdetail.distribution,
               orderdetail.appointment,
               goods.content,
               goods.state,
               goods.stock,
               store.name             as storeName,
               store.address          as storeAddress
        from orderdetail
                 left join goods on orderdetail.goodsid = goods.id
                 left join store on orderdetail.storeid = store.id
        where orderdetail.id = #{id}
    </select>

    <select id="getByStoreId" resultType="com.hbw.entity.Orderdetail">
        select id,
               goodsid,
               goodsname,
               goodsprice,
               number,
               total,
               custid,
               storeid,
               orderid,
               state,
               storeaddress,
               storespecificaddress,
               distribution,
               appointment
        from orderdetail
        where storeid = #{storeid}
    </select>

    <select id="getCustIdByGoodsId" resultType="java.lang.Integer">
        select custid
        from orderdetail
        where goodsid = #{goodsid}
    </select>

    <select id="getGoodsDetailsByCustId" resultType="com.hbw.entity.Orderdetail">
        select id,
               goodsid,
               goodsname,
               goodsprice,
               number,
               total,
               custid,
               storeid,
               orderid,
               state,
               storeaddress,
               storespecificaddress,
               distribution,
               appointment
        from orderdetail
        where custid = #{custid}
    </select>

    <update id="updateODetailStateByOrderId">
        update orderdetail
        set state = '已完成'
        where orderid = #{orderid}
    </update>

    <update id="updateAppointmentById">
        update orderdetail
        set appointment  = #{appointment},
            distribution = #{distribution}
        where id = #{id}
    </update>

</mapper>

